.elementor-15268 .elementor-element.elementor-element-aaa409d{font-family:"Avenir regular", Sans-serif;font-weight:300;font-style:normal;line-height:20px;width:var( --container-widget-width, 91.272% );max-width:91.272%;--container-widget-width:91.272%;--container-widget-flex-grow:0;}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Avenir regular';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2025/09/Avenir-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */