.elementor-15403 .elementor-element.elementor-element-74f6ebc > .elementor-container{text-align:right;}.elementor-15403 .elementor-element.elementor-element-d85b221{text-align:right;font-family:"Avenir regular", Sans-serif;font-size:14px;font-weight:400;}/* Start custom CSS for section, class: .elementor-element-74f6ebc */text-align: center;/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Avenir regular';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2025/09/Avenir-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */