/*==================================================
CALL TO ACTION
==================================================*/

.pmx-cta{

    padding:100px 0;

}

.pmx-cta__wrapper{

    background:linear-gradient(
        135deg,
        #161616,
        #262626
    );

    border-radius:var(--pmx-radius-lg);

    padding:70px;

    position:relative;

    overflow:hidden;

}

.pmx-cta__wrapper::before{

    content:"";

    position:absolute;

    width:350px;

    height:350px;

    right:-120px;

    top:-120px;

    border-radius:50%;

    background:rgba(201,162,39,.12);

}

.pmx-cta__wrapper::after{

    content:"";

    position:absolute;

    width:220px;

    height:220px;

    left:-80px;

    bottom:-80px;

    border-radius:50%;

    background:rgba(201,162,39,.08);

}

.pmx-cta__content{

    position:relative;

    z-index:2;

}

.pmx-cta__content h2{

    color:#fff;

    margin:18px 0 20px;

}

.pmx-cta__content p{

    color:#ddd;

    margin-bottom:0;

}

.pmx-cta__buttons{

    position:relative;

    z-index:2;

    display:flex;

    flex-direction:column;

    gap:18px;

}

@media(max-width:991px){

    .pmx-cta__wrapper{

        padding:50px 35px;

        text-align:center;

    }

    .pmx-cta__buttons{

        margin-top:40px;

        align-items:center;

    }

}

@media(max-width:576px){

    .pmx-cta__wrapper{

        padding:40px 25px;

    }

}